@using Docstore.Application.Models
@using Docstore.App.Common.Extensions
@model DocumentCreateViewModel

@{
    var breadcrumbs = new List<BreadcrumbItem>
    {
        Constants.BreadcrumbHome,
        Constants.BreadcrumbDocumentsHome,
        new BreadcrumbItem("Create", icon:@"<path fill-rule=""evenodd"" d=""M6 2a2 2 0 00-2 2v12a2 2 0 002 2h8a2 2 0 002-2V7.414A2 2 0 0015.414 6L12 2.586A2 2 0 0010.586 2H6zm5 6a1 1 0 10-2 0v2H7a1 1 0 100 2h2v2a1 1 0 102 0v-2h2a1 1 0 100-2h-2V8z"" clip-rule=""evenodd"" />"),
    };
}

<div class="mb-10 flex justify-center items-center flex-col">
    <partial name="~/Views/Shared/Partials/_AppHeader.cshtml" />
</div>


<div class="mb-4 inline-flex">
    <partial name="~/Views/Shared/Partials/_Breadcrumb.cshtml" model="breadcrumbs" />
</div>

<div class="shadow sm:rounded-lg sm:overflow-hidden">
    <form method="post" enctype="multipart/form-data" up-target="[layout-main]" up-fail-target="[layout-main]">
        <div class="px-4 py-5 bg-white dark:bg-gray-900 space-y-6 sm:p-6">
            <div asp-validation-summary="ModelOnly"></div>

            <div>
                <label class="block text-sm font-medium text-gray-700 dark:text-gray-500" asp-errors-class="text-red-700 dark:text-red-500" asp-for="Form.Files">Files</label>
                <div class="mt-1 flex justify-center px-6 pt-5 pb-6 border-2 border-gray-300 border-dashed rounded-md">
                    <div class="space-y-1 text-center">
                        <svg class="mx-auto h-12 w-12 text-gray-400" stroke="currentColor" fill="none" viewBox="0 0 48 48" aria-hidden="true"><path d="M28 8H12a4 4 0 00-4 4v20m32-12v8m0 0v8a4 4 0 01-4 4H12a4 4 0 01-4-4v-4m32-4l-3.172-3.172a4 4 0 00-5.656 0L28 28M8 32l9.172-9.172a4 4 0 015.656 0L28 28m0 0l4 4m4-24h8m-4-4v8m-12 4h.02" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" /></svg>
                        <div class="flex text-sm text-gray-600  dark:text-gray-500">
                            <label asp-for="Form.Files" class="relative cursor-pointer bg-transparent rounded-md font-medium text-primary-600 hover:text-primary-500 active:text-primary-400">
                                <span>Upload files</span>
                                <input asp-for="Form.Files" multiple="true" class="sr-only" />
                            </label>
                            <p class="pl-1">or drag and drop</p>
                        </div>
                        <p class="text-xs text-gray-500 dark:text-gray-400">
                            PNG, JPG, GIF up to 10MB
                        </p>
                    </div>
                </div>
                <p asp-display-validation-for="Form.Files" class="mt-2 text-sm text-red-600 dark:text-red-500"><span class="font-medium">Oops!</span> <span asp-validation-for="Form.Files"></span></p>
            </div>

            <div>
                <label class="block text-sm font-medium text-gray-700 dark:text-gray-500" asp-errors-class="text-red-700 dark:text-red-500" asp-for="Form.Name">Name</label>
                <input autofocus asp-for="Form.Name" type="text" class="mt-1 block w-full shadow-sm sm:text-sm rounded-md border-none focus:ring-2" asp-valid-class="focus:ring-primary-500 bg-gray-50 dark:bg-gray-800 text-black dark:text-gray-100" asp-errors-class="text-red-900 placeholder-red-700 focus:ring-red-500 dark:bg-red-100" />
                <p asp-display-validation-for="Form.Name" class="mt-1 text-sm text-red-600 dark:text-red-500"><span class="font-medium">Oops!</span> <span asp-validation-for="Form.Name"></span></p>
            </div>

            <div x-data="SearchElementInput(@(Model!.Folder?.Id.ToString() ?? "null"), '@Model!.Folder?.Name')" class="relative">
                <label class="block text-sm font-medium text-gray-700 dark:text-gray-500" asp-errors-class="text-red-700 dark:text-red-500" asp-for="Form.FolderId">Folder <small class="text-xs italic">(optional)</small></label>
                <input x-model="selectedId" type="hidden" asp-for="Form.FolderId" />

                <input
                    x-model="search" 
                    x-on:keydown.down.prevent="changeSelection(1)"
                    x-on:keydown.up.prevent="changeSelection(-1)"
                    x-on:keydown.enter.prevent="selectFolder(selectionIndex)"
                    x-on:input="onTyping" 
                    x-on:input.debounce.350="onSearch" 
                    x-on:click.away="cancel" 
                    x-on:keydown.escape="cancel"
                    type="text" 
                    asp-validation-for="Form.FolderId"
                    class="mt-1 block w-full shadow-sm sm:text-sm rounded-md border-none focus:ring-2" asp-valid-class="focus:ring-primary-500 bg-gray-50 dark:bg-gray-800 text-black dark:text-gray-100" asp-errors-class="text-red-900 placeholder-red-700 focus:ring-red-500 dark:bg-red-100" />
                <p asp-display-validation-for="Form.FolderId" class="mt-1 text-sm text-red-600 dark:text-red-500"><span class="font-medium">Oops!</span> <span asp-validation-for="Form.FolderId"></span></p>
                <div x-show="open" x-transition:leave="transition ease-in duration-100" x-transition:leave-start="opacity-100" x-transition:leave-end="opacity-0" x-transition:enter="transition ease-in duration-100" x-transition:enter-start="opacity-0" x-transition:enter-end="opacity-100">
                    <div class="absolute z-40 left-0 mt-2 w-full">
                        <div class="py-1 text-sm bg-white rounded shadow-lg border border-gray-30 dark:border-gray-800 dark:bg-black">
                            <template x-for="(item, index) in data" :key="item.id">
                                <a x-on:click.prevent="selectFolder(index)" class="block py-1 px-5 cursor-pointer text-white hover:bg-primary-500 focus:bg-primary-500" x-bind:class="{'bg-primary-500':index === selectionIndex}"><span class="font-semibold" x-text="item.name"></span></a>
                            </template>

                            <template x-if="loading">
                                <div class="block py-1 px-5 ">
                                    <svg class="animate-spin -ml-1 mr-3 h-5 w-5 text-white" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
                                        <circle class="opacity-25" cx="12" cy="12" r="10" stroke="currentColor" stroke-width="4"></circle>
                                        <path class="opacity-75" fill="currentColor" d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"></path>
                                    </svg>
                                </div>
                            </template>
                            <template x-if="!loading && (!data || !data.length)"><i class="block py-1 px-5 italic text-gray-300 dark:text-gray-500">no folder</i></template>
                        </div>
                    </div>
                </div>
            </div>

            <div>
                <label class="block text-sm font-medium text-gray-700 dark:text-gray-500" asp-errors-class="text-red-700 dark:text-red-500" asp-for="Form.Description">Description <small class="text-xs italic">(optional)</small></label>
                <textarea asp-for="Form.Description" class="mt-1 block w-full shadow-sm sm:text-sm rounded-md border-none focus:ring-2" asp-valid-class="focus:ring-primary-500 bg-gray-50 dark:bg-gray-800 text-black dark:text-gray-100" asp-errors-class="text-red-900 placeholder-red-700 focus:ring-red-500 dark:bg-red-100"></textarea>
                <p asp-display-validation-for="Form.Description" class="mt-2 text-sm text-red-600 dark:text-red-500"><span class="font-medium">Oops!</span> <span asp-validation-for="Form.Description"></span></p>
            </div>

            <div>
                <label class="block text-sm font-medium text-gray-700 dark:text-gray-500" asp-errors-class="text-red-700 dark:text-red-500" asp-for="Form.Tags">Tags <small class="text-xs italic">(optional)</small></label>
                <div x-data="TagsInput(@Html.Raw(Model!.Form.GetTagsJavascriptData()))" class="relative mt-1">
                    <input x-model="newTag" type="text"
                           class="mt-1 block w-full shadow-sm sm:text-sm rounded-md border-none focus:ring-2 focus:ring-primary-500 bg-gray-50 dark:bg-gray-800 text-black dark:text-gray-100"
                           x-on:keydown.enter.prevent="addTag(newTag)"
                           x-on:keydown.tab.prevent="addTag(newTag)"
                           x-on:keydown.escape.prevent="clearNewTag()"
                           x-on:keydown.backspace="removeLastTag()"
                           :style="`padding-left: calc(${inputPaddingLeft}px + 0.5rem * ${!tags.length ? 1.5 : 1})`" />
                    <ul x-ref="tagsList" class="flex items-center absolute top-0 bottom-0 max-w-9/12 overflow-x-auto space-x-2">
                        <template x-for="(tag, index) in tags">
                            <li class="relative bg-primary-400 rounded no-wrap text-md text-black font-medium px-2 pr-6">
                                <span x-text="tag"></span>
                                <input type="hidden" x-model="tag" asp-for="Form.Tags" />
                                <span x-on:click="removeTag(index)" class="absolute align-middle opacity-50 hover:opacity-75 top-1/2 -translate-y-1/2 right-2 cursor-pointer flex items-center">
                                    <svg xmlns="http://www.w3.org/2000/svg" class="h-3 w-3" viewBox="0 0 20 20" fill="currentColor"><path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd" /></svg>
                                </span>
                            </li>
                        </template>
                    </ul>
                </div>
                <p asp-display-validation-for="Form.Tags" class="mt-2 text-sm text-red-600 dark:text-red-500"><span class="font-medium">Oops!</span> <span asp-validation-for="Form.Tags"></span></p>
            </div>

            <div x-data="DatePickerRange" class="grid grid-cols-6 gap-6">
                <div class="col-span-6 sm:col-span-3">
                    <label asp-for="Form.ReceivedAt" class="block text-sm font-medium text-gray-700 dark:text-gray-500" asp-errors-class="text-red-700 dark:text-red-500">Reception date <small class="text-xs italic">(optional)</small></label>
                    @*x-data="DatePicker({ maxDate: 'today' })" *@
                    <div class="relative">
                        <input x-ref="picker1" asp-for="Form.ReceivedAt" type="text" class="pl-12 mt-1 block w-full shadow-sm sm:text-sm rounded-md border-none focus:ring-2" asp-valid-class="focus:ring-primary-500 bg-gray-50 dark:bg-gray-800 text-black dark:text-gray-100" asp-errors-class="text-red-900 placeholder-red-700 focus:ring-red-500 dark:bg-red-100" />
                        <div class="absolute top-0 bottom-0 left-0 inline-flex items-center px-3 pointer-events-none">
                            <svg class="h-6 w-6 text-gray-400 dark:text-gray-600" fill="none" viewBox="0 0 24 24" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M8 7V3m8 4V3m-9 8h10M5 21h14a2 2 0 002-2V7a2 2 0 00-2-2H5a2 2 0 00-2 2v12a2 2 0 002 2z" /></svg>
                        </div>
                    </div>
                    <p asp-display-validation-for="Form.ReceivedAt" class="mt-2 text-sm text-red-600 dark:text-red-500"><span class="font-medium">Oops!</span> <span asp-validation-for="Form.ReceivedAt"></span></p>
                </div>

                <div class="col-span-6 sm:col-span-3">
                    <label asp-for="Form.EndsAt" class="block text-sm font-medium text-gray-700 dark:text-gray-500" asp-errors-class="text-red-700 dark:text-red-500">Ends date <small class="text-xs italic">(optional)</small></label>
                    @*x-data="DatePicker({ minDate: 'today' })"*@
                    <div class="relative">
                        <input x-ref="picker2" datepicker datepicker-autohide asp-for="Form.EndsAt" type="text" class="pl-12 mt-1 block w-full shadow-sm sm:text-sm rounded-md border-none focus:ring-2" asp-valid-class="focus:ring-primary-500 bg-gray-50 dark:bg-gray-800 text-black dark:text-gray-100" asp-errors-class="text-red-900 placeholder-red-700 focus:ring-red-500 dark:bg-red-100" />
                        <div class="absolute top-0 bottom-0 left-0 inline-flex items-center px-3 pointer-events-none">
                            <svg class="h-6 w-6 text-gray-400 dark:text-gray-600" fill="none" viewBox="0 0 24 24" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M8 7V3m8 4V3m-9 8h10M5 21h14a2 2 0 002-2V7a2 2 0 00-2-2H5a2 2 0 00-2 2v12a2 2 0 002 2z" /></svg>
                        </div>
                    </div>
                    <p asp-display-validation-for="Form.EndsAt" class="mt-2 text-sm text-red-600 dark:text-red-500"><span class="font-medium">Oops!</span> <span asp-validation-for="Form.EndsAt"></span></p>
                </div>
            </div>
        </div>
        <div class="px-4 py-3 bg-gray-50 dark:bg-black sm:px-6">
            <div class="flex">
                <a up-target="[layout-main]" up-preload asp-action="Index" class="py-2 px-3 text-gray-500 hover:text-gray-700 dark:hover:text-gray-100 text-sm font-semibold rounded-md transition duration-500">Cancel</a>
                <button type="submit" class="ml-auto py-2 px-3 bg-primary-500 text-primary-900 hover:text-white text-sm font-semibold rounded-md shadow-lg shadow-primary-500/10 hover:shadow-primary-500/50 active:shadow-primary-500/75 focus:outline-none transition duration-500">Submit</button>
            </div>
        </div>
    </form>
</div>