@model DocumentCreateViewModel

<div>
    <hgroup>
        <h2>Add new document</h2>
        <h3>Import your new document with files</h3>
    </hgroup>
</div>


<article>
    <form method="post" enctype="multipart/form-data">
        <div asp-validation-summary="ModelOnly"></div>
        <div>
            <label asp-for="Form.Files">Files</label>
            <input asp-for="Form.Files" multiple="true" />
            <small>
                <span asp-validation-for="Form.Files"></span>
            </small>
        </div>

        <div>
            <label asp-for="Form.Name">Name</label>
            <input asp-for="Form.Name" />
            <small>
                <span asp-validation-for="Form.Name"></span>
            </small>
        </div>
        <div>
            <label asp-for="Form.Description">Description</label>
            <input asp-for="Form.Description" />
            <small>
                <span asp-validation-for="Form.Description"></span>
            </small>
        </div>

        <div>
            <label>Tags</label>
            <div class="tag-input" x-data='tagsInput(@Html.Raw(Model!.Form.GetTagsJavascriptData()))'>
                <input x-model="newTag" type="text"
                       @@keydown.enter.prevent="addTag(newTag)"
                       @@keydown.tab.prevent="addTag(newTag)"
                       @@keydown.escape.prevent="clearNewTag()"
                       @@keydown.backspace="removeLastTag()"
                       :style="`padding-left: calc(${inputPaddingLeft}px + var(--form-element-spacing-horizontal) * ${tags.length ? 1.5 : 1})`" />
                <ul class="tags" x-ref="tagsList">
                    <template x-for="(tag, index) in tags">
                        <li class="tag">
                            <span x-text="tag"></span>
                            <input type="hidden" x-model="tag" asp-for="Form.Tags" />
                            <a class="delete" @@click="removeTag(index)">x</a>
                        </li>
                    </template>
                </ul>
            </div>
        </div>

        <button type="submit">Submit</button>
    </form>
</article>