@using Humanizer
@using Docstore.Application.Models
@using Docstore.App.Common.Extensions
@model DocumentShowViewModel

@{
    var breadcrumbs = new List<BreadcrumbItem>
    {
        Constants.BreadcrumbHome,
        Constants.BreadcrumbDocumentsHome,
        new BreadcrumbItem(Model!.Document.Name!, icon:@"<path fill-rule=""evenodd"" d=""M4 4a2 2 0 012-2h4.586A2 2 0 0112 2.586L15.414 6A2 2 0 0116 7.414V16a2 2 0 01-2 2H6a2 2 0 01-2-2V4zm2 6a1 1 0 011-1h6a1 1 0 110 2H7a1 1 0 01-1-1zm1 3a1 1 0 100 2h6a1 1 0 100-2H7z"" clip-rule=""evenodd"" />"),
    };
}


<partial name="Partials/_ModalDelete" model="Model!.Document" />

<div class="mb-10 flex justify-center items-center flex-col">
    <partial name="~/Views/Shared/Partials/_AppHeader.cshtml" />
</div>

<div class="mb-4 inline-flex">
    <partial name="~/Views/Shared/Partials/_Breadcrumb.cshtml" model="breadcrumbs" />
</div>

<div class="shadow sm:rounded-lg sm:overflow-hidden mb-4">
    <div class="px-4 py-5 bg-white dark:bg-gray-900 space-y-2 sm:p-6">
        <h2 class="text-lg font-black font-header text-gray-800 dark:text-gray-100 uppercase tracking-wider">Files</h2>
        <partial name="Partials/_FilesTable" model="Model!.Document.Files" />
    </div>
</div>

<div class="shadow sm:rounded-lg sm:overflow-hidden mb-4">
    <div class="px-4 py-5 bg-white dark:bg-gray-900 space-x-2 sm:p-6 flex justify-end items-center flex-row">
        <a up-target="[layout-main]" up-preload asp-action="Edit" asp-route-id="@Model!.Document.Id" class="py-2 px-3 text-info-500 hover:text-info-700 dark:hover:text-info-100 text-sm font-semibold rounded-md transition duration-500">Edit</a>
        <button x-data="{}" x-on:click="$dispatch('modal-delete-ex')" type="button" class="py-2 px-3 text-red-500 hover:text-red-700 dark:hover:text-red-100 text-sm font-semibold rounded-md transition duration-500">Delete</button>
    </div>
</div>

<div class="shadow sm:rounded-lg sm:overflow-hidden">
    <div class="px-4 py-5 bg-white dark:bg-gray-900 space-y-2 sm:p-6">
        <h2 class="text-lg font-black font-header text-gray-800 dark:text-gray-100 uppercase tracking-wider">Informations</h2>
        <partial name="Partials/_ShowInformations" model="Model!.Document" />
    </div>
</div>