@model RegisterForm

@{
    Layout = "_BlankLayout";
}

<div class="min-w-screen min-h-screen flex items-center justify-center px-5 py-5">
    <div class="text-gray-500 rounded-3xl w-full overflow-hidden" style="max-width:500px">
        <div class="w-full py-10 px-5 md:px-10">
            <div class="shadow sm:rounded-lg sm:overflow-hidden">

                <div class="px-4 py-5 bg-white dark:bg-gray-900 space-y-4 sm:p-6">
                    <div class="text-center">
                        <h1 class="font-bold text-3xl text-red-600 dark:text-red-500 uppercase">Account Locked out</h1>
                        <p class="text-gray-400 dark:text-gray-500">You have missed too many times.</p>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
