@model HomeIndexViewModel

@{
    ViewData["Title"] = "Home";
}

<div class="mb-20 flex justify-center items-center flex-col">
    <h1 class="text-4xl font-black font-header text-gray-800 dark:text-gray-100 uppercase mb-3">Docstore</h1>
    <a asp-action="Create" asp-controller="Documents" class="py-2 px-3 bg-primary-500 text-primary-900 hover:text-white text-sm font-semibold rounded-md shadow-lg shadow-primary-500/10 hover:shadow-primary-500/50 active:shadow-primary-500/75 focus:outline-none transition duration-500  text-center inline-flex items-center">
        Import new Document
        <svg xmlns="http://www.w3.org/2000/svg" class="ml-2 -mr-1 h-5 w-5" viewBox="0 0 20 20" fill="currentColor"><path fill-rule="evenodd" d="M6 2a2 2 0 00-2 2v12a2 2 0 002 2h8a2 2 0 002-2V7.414A2 2 0 0015.414 6L12 2.586A2 2 0 0010.586 2H6zm5 6a1 1 0 10-2 0v2H7a1 1 0 100 2h2v2a1 1 0 102 0v-2h2a1 1 0 100-2h-2V8z" clip-rule="evenodd" /></svg>
    </a>
    @*bg-gradient-to-r from-primary-600 via-primary-500 to-primary-400*@
</div>

<div class="mb-12">
    <h3 class="text-2xl font-black font-header text-gray-800 dark:text-gray-100">Last Documents</h3>
    <div class="grid grid-flow-col auto-cols-fr gap-8 mt-3">
        @foreach (var item in Model!.LastDocuments)
        {
            <partial name="Partials/_DocumentCard" model="item" />
        }
    </div>
</div>

<div class="mb-5">
    <h3 class="text-2xl font-black font-header text-gray-800 dark:text-gray-100">All Documents</h3>
    <div class="mt-3">
        <partial name="Partials/_DocumentsTable" model="Model!.Documents" />
    </div>
</div>