@model string

<span class="text-xs inline-flex items-center font-bold leading-sm uppercase px-3 py-1 rounded bg-gray-50 dark:bg-gray-600 text-gray-700 dark:text-gray-300 hover:opacity-90 active:opacity-80">
    @Model
</span>