@using Docstore.Application.Models
@using Docstore.App.Common.Extensions
@model FolderEditViewModel

@{
    var breadcrumbs = new List<BreadcrumbItem>
    {
        Constants.BreadcrumbHome,
        Constants.BreadcrumbFoldersHome,
        new BreadcrumbItem($"Edit '{Model!.Form.Name}'", icon:@"<path d=""M2 6a2 2 0 012-2h5l2 2h5a2 2 0 012 2v6a2 2 0 01-2 2H4a2 2 0 01-2-2V6z"" />"),
    };
}

<div class="mb-10 flex justify-center items-center flex-col">
    <partial name="~/Views/Shared/Partials/_AppHeader.cshtml" />
</div>


<div class="mb-4 inline-flex">
    <partial name="~/Views/Shared/Partials/_Breadcrumb.cshtml" model="breadcrumbs" />
</div>

<div class="shadow sm:rounded-lg sm:overflow-hidden">
    <partial name="Partials/_Form" model="@Model" />
</div>