@using Humanizer
@using Docstore.Domain.Entities
@model Document

<div class="text-gray-700 dark:text-gray-300 flex flex-col sm:flex-row items-center p-3 bg-white dark:bg-gray-900 rounded-md shadow-md">
    <div class="text-white w-12 flex-none bg-contain relative bg-no-repeat bg-center block">
        <div class="absolute m-auto top-0 left-0 right-0 bottom-0 flex items-center justify-center">
            @*<svg xmlns="http://www.w3.org/2000/svg" class="h-8 w-8 text-primary-400" viewBox="0 0 20 20" fill="currentColor"><path fill-rule="evenodd" d="M4 4a2 2 0 012-2h4.586A2 2 0 0112 2.586L15.414 6A2 2 0 0116 7.414V16a2 2 0 01-2 2H6a2 2 0 01-2-2V4z" clip-rule="evenodd" /></svg>*@
            @*<svg xmlns="http://www.w3.org/2000/svg" class="h-8 w-8 text-primary-400" fill="none" viewBox="0 0 24 24" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 12h6m-6 4h6m2 5H7a2 2 0 01-2-2V5a2 2 0 012-2h5.586a1 1 0 01.707.293l5.414 5.414a1 1 0 01.293.707V19a2 2 0 01-2 2z" /></svg>*@
            <svg xmlns="http://www.w3.org/2000/svg" class="h-8 w-8 text-primary-400" viewBox="0 0 20 20" fill="currentColor"><path fill-rule="evenodd" d="M4 4a2 2 0 012-2h4.586A2 2 0 0112 2.586L15.414 6A2 2 0 0116 7.414V16a2 2 0 01-2 2H6a2 2 0 01-2-2V4zm2 6a1 1 0 011-1h6a1 1 0 110 2H7a1 1 0 01-1-1zm1 3a1 1 0 100 2h6a1 1 0 100-2H7z" clip-rule="evenodd" /></svg>
            @*<svg xmlns="http://www.w3.org/2000/svg" class="h-8 w-8 text-primary-400 fill-primary-400" viewBox="0 0 24 24" fill="transparent" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M13 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V9z"></path><polyline points="13 2 13 9 20 9"></polyline></svg>*@
        </div>
    </div>
    <div class="sm:ml-3 mt-3 sm:mt-0 text-center sm:text-left">
        <div class="text-gray-700 dark:text-gray-300 whitespace-nowrap font-medium">@Model!.Name</div>
        <div class="text-gray-600 whitespace-nowrap text-xs">@Model!.UpdatedAt.Humanize()</div>
    </div>
    <div class="sm:ml-auto mt-3 sm:mt-0 flex">
        <div class="relative group">
            <div class="absolute inset-0 rounded-full bg-primary-400 blur-sm opacity-0 group-hover:opacity-100 transition-opacity duration-500"></div>
            <a asp-action="Show" asp-controller="Documents" asp-route-id="@Model!.Id" class="relative w-8 h-8 flex-none flex items-center justify-center bg-gray-200 dark:bg-gray-800 group-hover:bg-primary-400 group-hover:text-white dark:group-hover:text-gray-800 rounded-full transition-colors duration-500">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor"><path fill-rule="evenodd" d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z" clip-rule="evenodd" /></svg>
            </a>
        </div>
    </div>
</div>